<div class="sf">
  <div class="sf-label" *ngIf="label">{{ label }}</div>
  <button type="button" class="sf-trigger" [class.open]="open" [disabled]="disabled" (click)="toggle()">
    <span class="sf-val" [class.ph]="!selectedLabel">{{ selectedLabel || placeholder }}</span>
    <span class="sf-caret">{{ open ? '▴' : '▾' }}</span>
  </button>
  <div class="sf-list" *ngIf="open">
    <div class="sf-opt" *ngFor="let o of options" [class.sel]="o.value===value" (click)="pick(o.value)">
      <div>
        <div class="sf-opt-label">{{ o.label }}</div>
        <div class="sf-opt-sub" *ngIf="o.sub">{{ o.sub }}</div>
      </div>
      <span class="sf-tick" *ngIf="o.value===value">✓</span>
    </div>
    <div class="sf-empty" *ngIf="!options.length">{{ emptyText }}</div>
  </div>
</div>
