<ion-tabs>
  <ion-tab-bar slot="bottom" class="nt-tabbar">
    <ion-tab-button tab="themes">
      <span class="nt-tab-pill">
        <ion-icon name="color-wand-outline"></ion-icon>
        <ion-label>Themes</ion-label>
      </span>
    </ion-tab-button>
    <ion-tab-button tab="content">
      <span class="nt-tab-pill">
        <ion-icon name="layers-outline"></ion-icon>
        <ion-label>Content</ion-label>
      </span>
    </ion-tab-button>
    <ion-tab-button tab="devices">
      <span class="nt-tab-pill">
        <ion-icon name="desktop-outline"></ion-icon>
        <ion-label>Devices</ion-label>
      </span>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <span class="nt-tab-pill">
        <ion-icon name="options-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
